{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": ["babel-plugin-transform-es2015-modules-simple-commonjs"]
}